Repository gaianote/chrome-spider: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pytest-cov

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: pipenv run isort chromespider test

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black chromespider test

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8 chromespider test

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy chromespider test
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - commit
  language: system
  entry: pipenv run pytest --cov --cov-fail-under=10
  pass_filenames: false

update
  .pre-commit-config.yaml
  chromespider/readme.md
Due: none

update
  README.md
  setup.py
  test/test.py
Due: isort, black, flake8, mypy, pytest-cov

firstupdate
  README.md
  chromespider/__init__.py
  chromespider/spider/__init__.py
  chromespider/spider/main.py
  test/test.py
Due: isort, black, flake8, mypy, pytest-cov

update
  setup.cfg
  setup.py
Due: isort, black, mypy, pytest-cov

update
  chrome_spider/__init__.py
  chrome_spider/__main__.py
  chrome_spider/app.py
  chrome_spider/common/config.py
  chrome_spider/common/log.py
  chrome_spider/common/sql.py
  chrome_spider/spider/__init__.py
  chrome_spider/spider/cookie.py
  chrome_spider/spider/main.py
  chromespider/__init__.py
  chromespider/spider/__init__.py
  setup.py
  test/test.py
Due: isort, black, flake8, mypy, pytest-cov

updaet
  README.md
Due: none

update
  README.md
Due: none

update
  README.md
  requirements.txt
  setup.py
  test/test.py
Due: isort, black, flake8, mypy, pytest-cov

update
  .coveragerc
  setup.py
Due: isort, black, mypy, pytest-cov

update
  requirements.txt
Due: none

update
  setup.py
Due: isort, black, mypy, pytest-cov

update
  chrome_spider/common/__init__.py
Due: isort, black, flake8, mypy, pytest-cov

update
  chrome_spider/spider/cookie.py
  setup.py
Due: isort, black, flake8, mypy, pytest-cov

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  pytest-cov: any of: \.py$
